pkgbase = diffler-bin
	pkgdesc = Terminal code review for AI coding agents
	pkgver = 0.2.2
	pkgrel = 1
	url = https://github.com/matheusfillipe/diffler
	arch = x86_64
	arch = aarch64
	license = MIT
	license = Apache-2.0
	provides = diffler
	conflicts = diffler
	source_x86_64 = diffler-0.2.2-x86_64.tar.gz::https://github.com/matheusfillipe/diffler/releases/download/v0.2.2/diffler-v0.2.2-x86_64-unknown-linux-musl.tar.gz
	sha256sums_x86_64 = ceaf01198af424ef6e12b87f015fbf05cd0faf0b596ccfa56bce35dad1756e85
	source_aarch64 = diffler-0.2.2-aarch64.tar.gz::https://github.com/matheusfillipe/diffler/releases/download/v0.2.2/diffler-v0.2.2-aarch64-unknown-linux-musl.tar.gz
	sha256sums_aarch64 = 2984eedfc35afba59535dea86c4924b7e148975e9d36b8602d0ea98112d7a170

pkgname = diffler-bin
